/* Gemensamma stilar för index.html och verktyg.html */

#body {
    margin: 0;
    padding: 0;
}

#indexmain, #verktygmain, #datamain {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

#footersect {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: auto;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

/* Stilar för index.html */

#textbody {
    margin: 0 auto;
    text-align: center;
}

#titletext {
    font-size: 2.5em;
    padding-bottom: 40px;
    font-weight: 800;
}

#textbes {
    font-size: 1.2em;
}

#bild1 {
    width: 350px;
    height: 250px;
    border-radius: 15px;
}

#navbar {
    background-color: black;
}

#gruppnamn {
    color: white;
    display: inline;
    font-weight: 800;
    margin: 10px;
}

#nextbutton {
    width: 230px;
    height: 60px;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    margin:auto;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 1.4em;
    font-weight: bold;
}

/* Stilar för verktyg.html */

#datatitle {
    text-align: center;
}

#kommunchoice {
    text-align: left;
}

#tekniktable {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse; /* Slå ihop gränserna mellan celler */
    width: 100%; /* Fyll ut tabellen tillgängligt utrymme */
}

#tekniktable th,
#tekniktable td {
    padding: 10px; /* Lägg till padding för att öka avståndet runt texten i cellerna */
    border: 1px solid black; /* Lägg till gränser runt cellerna */
}

#addRowButton {
    width: 120px;
    height: 30px;
    margin: 20px auto;
    display: block;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 0.8em;
    font-weight: bold;
}

#submitbutton {
    width: 120px;
    height: 30px;
    margin: 20px auto;
    display: block;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-size: 0.8em;
    font-weight: bold;
}

#inputfield label {
    margin-bottom: 10x; /* Öka avståndet mellan etiketterna */
}