{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body class="body">
    <main class="main">
        <header class="navbar">
            <p id="gruppnamn">Alternativet & Kalkylatorn</p>
        </header>

        <div id="tekniktablediv">
            
            <h3>Instruktioner</h3>
            <div id="instruktioner">
                <p>1. Välj den kommun som ni ska ange data för i drop-down menyn ovanför tabellen</p>
                <p>2. Mata in era datavärden i inputfälten för varje typ av teknik</p>
                <p>3. När ni är färdiga med att mata in er data klickar ni på "Skicka in data"-knappen så att det lagras i vår databas</p>
                <p>4. Ni väljer sedan ett av verktygen för att ta del av visuella representationer och jämförelser av datan</p>
                <p>5. För att uppdatera existerande data, välj kommun, ändra värden och skicka in igen</p>
                <p id="instruktioner1">Om exakta värden saknas, uppmuntrar vi er till att uppskatta och estimera till bästa möjliga förmåga</p>
            </div>
            <article id="kommunchoice">
                <label for="kommunid">Välj er kommun</label>
                <select name="Kommun" id="kommunnamn">
                    <option value="">Klicka för att välja er kommun</option>
                </select>
                <script src="../static/kommunLista.js"></script>
            </article>

            <table id="tekniktable">
                <thead>
                    <tr>
                        <th>Välfärdsteknik</th>
                        <th>Antal installationer<span class="tooltip" title="Antalet installationer av varje teknik som ni har utfört inom äldreomsorgen, särkilt boende + ordinärt boende">?</span></th>
                        <th>Antal möjliga installationer<span class="tooltip" title="Totala mängden installationer för att uppnå breddinförande, särkilt boende + ordinärt boende. (Inklusive befintliga installationer)">?</span></th>
                        <th>Kostnad per installation<span class="tooltip" title="Konstnaden för att köpa in och installera en enhet av respektive välfärdsteknik">?</span></th>
                        <th>Årlig besparing per installation (SEK/år)<span class="tooltip" title="SEK/år besparade per enhet av respektive välfärdsteknik, exempel på kostnadsbesparing är sparade personaltimmar, drivmedel eller andra relaterade kostnader">?</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <!-- 
            <div id="instruktioner">
                <h3>Lägg till din egna teknik (Work in progress) </h3>
            </div>
            <table id="customtekniktable">
                <thead>
                    <tr>
                        <tr>
                            <th>Välfärdsteknik</th>
                            <th>Antal installationer<span class="tooltip" title="Antalet installationer av varje teknik som ni har utfört inom äldreomsorgen.">?</span></th>
                            <th>Antal möjliga installationer<span class="tooltip" title="Totala mängden installationer som kan göras i er kommun (inklusive befintliga installationer).">?</span></th>
                            <th>Kostnad per installation<span class="tooltip" title="Konstnaden för att köpa in och installera respektive välfärdsteknik.">?</span></th>
                            <th>Årlig besparing per installation (sek/år)<span class="tooltip" title="Pengar sparade per installation av en specifik teknisk enhet per år.">?</span></th>
                        </tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="RowParent">
                <button type="button" id="addRowButton">
                    Lägg till en ny teknologi
                </button>

                <button type="button" id="deleteRowButton">
                    Ta bort en tillagd teknologi
                </button>
            </div>
            -->

            <button type="button" id="submitbutton">
                Skicka in data
            </button>

            <button type="button" class="nextbutton">
                <a href="https://cost-view.vercel.app/">Till Alternativet</a>
            </button>

            <button type="button" class="nextbutton">
                <a>Till Kalkylatorn</a>
            </button>
        </div>

        <footer class="footersect">
            <p>
                Alternativet, Kalkylatorn, SCDI
                <br> 
                2024
            </p>
        </footer>
    </main>
    <script src="../static/inputdata.js"></script>
    <script src="../static/addRows.js"></script>
    <script src="../static/showData.js"></script>
    </script>
</body>
</html>
