<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="body">
    <header></header>
    <main id="indexmain">
        <article id="navbar">
            <img id="bild2" src="SCDIlogo.png">
            <p id="gruppnamn">Data Men Inc.</p>
        </article>
        <article id="textbody">
        <h1 id="titletext">Ange din data!</h1>
        <section>
            <h2>I nedanstående fält kan du ange din data!</h2>
            <p></p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p></p>



        </section>
        <button id="nextbutton">
            <a href="verktyg.html">Gå till verktyget</a>
        </button>
    </main>
    <footer id="footersect">
        <p>
            Data Men, SCDI
            <br> 
            2024
        </p>
    </footer>
</body>
</html>