{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body class="body">
    <main class="main">
        <header class="navbar">
            <p id="gruppnamn">CostView & DigiCost</p>
        </header>

        <div id="textbody">
            <h1 id="titletext">Välkommen!</h1>
            <p id="textp">
                Som en del av det stora och oerhört viktiga arbetet som digitaliseringen av äldreomsorgen i offentlig sektor utgör, har vi tagit fram två olika visualiseringsverktyg för kommuners data kring existerande och möjliga framtida investeringar i välfärdsteknik. Dessa visualiseringsverktyg är baserade på data från en databas vilket vi hjälps åt att bygga tillsammans! 
                <br>
                <br>
                Klicka på ”Till datahantering” för att komma till datafångaren som låter er fylla i och skicka in er aktuella data för er kommun i dagsläget! Från datafångaren kan ni klicka er vidare till något av våra visualiseringsverktyg för att arbeta vidare med existerande data och beräkna bland annat alternativkostnad och möjliga installationer. 
                <br>
                <br>
            </p>
            <h3 id="indextack">Stort tack för ert bidrag!</h3>
            <div id="nextbuttondiv">
                <button class="nextbutton">
                    <a href="data/">Till datahantering</a>
                </button>
            </div>
        </div>

    <footer class="footersect">
        <p>
            CostView, DigiCost, SCDI
            <br> 
            2024
        </p>
    </footer>
</main>
</body>
</html>