<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header></header>
    <main id="indexmain">
        <article id="textbody">
        <h1 id="titletext">Om Verktyget</h1>
        <img id="bild1" src="{% static 'alternativkostnad.webp' %}" alt="Bild på X">
        <p id="textbes">
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br>
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br>
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br><br><br>

            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br>
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br>
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br><br><br>

            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br>
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening<br>
            placeholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermeningplaceholdermening
        </p>
        </article>
        <button id="nextbutton">
            <a href="/verktyg">Gå till verktyget</a>
        </button>
    </main>
    <footer id="footersect">
        <p>
            Data Men, SCDI
            <br> 
            2024
        </p>
    </footer>
</body>
</html>