<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href=style.css>
</head>
<body class="body">
    <main class="main">
        <header class="navbar">
            <img id="bild2" src="SCDIlogo.png">
            <p id="gruppnamn">Data Men Inc.</p>
        </header>
    
        <footer class="footersect">
            <p>
                Data Men, SCDI
                <br> 
                2024
            </p>
        </footer>
    </main>
</body>
</html>